<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="google-assets-verification" content="V91Xt8plPRa56Ej5hb6vSuOGjFA7dTmdTfQYUMaDgqU"/>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{% if page.title %}{{ page.title }} &middot; {% endif %}Kanji's Repo</title>

		<!-- Favicons -->
		<link rel="shortcut icon" href="/assets/images/favicon.png"/>
		<link rel="apple-touch-icon" href="/assets/images/icon.png"/>
		<link rel="icon" type="image/png" sizes="180x180" href="/assets/images/icon.png"/>
		<link rel="manifest" href="/assets/images/manifest.json" />
		<meta name="msapplication-TileColor" content="#cf86fa" />
		<meta name="msapplication-TileImage" content="/assets/images/icon.png"/>
		<meta name="theme-color" content="#cf86fa" />
		<!-- Favicons  -->

		<!-- Primary Meta Tags -->
		<title>Kanji's Repo</title>
		<meta name="title" content="Kanji's Repo" />
		<meta name="description" content="Kanji's Fuck Shit Repo" />

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="webassets" />
		<meta property="og:url" content="https://theKanji's Repo.dev" />
		<meta property="og:title" content="Kanji's Repo" />
		<meta property="og:description" content="Kanji's Fuck Shit Repo"/>
		<meta property="og:image" content="/assets/images/meta.png" />

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="https://theKanji's Repo.dev" />
		<meta property="twitter:title" content="Kanji's Repo" />
		<meta property="twitter:description" content="Kanji's Fuck Shit Repo"/>
		<meta property="twitter:image" content="/assets/images/meta.png"/>

		<!-- Bootstrap -->

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha256-aAr2Zpq8MZ+YA/D6JtRD3xtrwpEz2IqOS+pWD/7XKIw=" crossorigin="anonymous" />
		<link rel="stylesheet" href="/assets/css/styles.css" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
		<script src="/assets/js/main.js"></script>
	</head>
	<body>
		<!-- Bootstrap Brand Bar -->
		<nav class="navbar navbar-light fixed-top">
			<div class="container-fluid">
				<a class="navbar-brand" href="/">
					<h2>
					<img style="max-height: 30px;" src="/assets/images/kanji.svg">
					</h2>
				</a>
				<div class="ml-autok">
					<a href="/#cydia" class="btn btn-primary btn-navbar">
						<svg class="icon icon-download" viewBox="0 0 100 100">
							<path d="M51.2285,101.2344 C78.9141,101.2344 101.766,78.38281 101.766,50.7461 C101.766,23.1094 78.8652,0.2578 51.1797,0.2578 C23.543,0.2578 0.74023,23.1094 0.74023,50.7461 C0.74023,78.38281 23.5918,101.2344 51.2285,101.2344 Z M51.1309,73.5 C48.1523,73.5 46.3457,71.3516 46.3457,68.2754 L46.3457,55.5801 L32.8691,55.5801 C29.8418,55.5801 27.5957,53.7734 27.5957,50.8438 C27.5957,47.8164 29.7441,45.9609 32.8691,45.9609 L46.3457,45.9609 L46.3457,32.5332 C46.3457,29.457 48.1523,27.3086 51.1309,27.3086 C54.1094,27.3086 56.0137,29.3594 56.0137,32.5332 L56.0137,45.9609 L69.5391,45.9609 C72.6641,45.9609 74.7637,47.8164 74.7637,50.8438 C74.7637,53.7734 72.6152,55.5801 69.5391,55.5801 L56.0137,55.5801 L56.0137,68.2754 C56.0137,71.4492 54.1094,73.5 51.1309,73.5 Z" id="Shape"></path>
							</svg>
						{% assign latest_post = site.posts.first %}
						Add to Package Manager
					</a>
				</div>
			</div>
		</nav>

		<!-- Hero Header -->
		<section style="text-align: center;" id="hero-container">
			<div class="relative">
					 <figure class="brand-logo">
						<img style="max-height: 300px;" src="/assets/images/kanji.svg">
					 </figure>
					 
				<video id="video-background" src="/assets/images/skeleton with roses.mp4" autoplay="" muted="" loop="">
				</video>
			</div>		
		</section>
